<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <h3>Ionic Menu Starter</h3>
  <ion-item> -->
 
  <p>
    Take your damn pic
  </p>

  <button ion-button secondary color="primary" type="button" (click)="takeAndSavePic()">Snap!</button>

   <!-- <ion-icon *ngIf="image" style="color:green;padding:6px" ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>   -->
   <img **ngIf="image" src="{{image}}">

</ion-content>
